:host ::ng-deep {
  .p-fileupload-content {
    flex: 0 1 auto;
    overflow-y: scroll;
    height: calc(100vh - 89px); 

    .p-progressbar {
      position: inherit;
      overflow: hidden;
    }
  }

  .file-progressbar .p-progressbar-determinate .p-progressbar-value {
    height: 0.25rem;
  }

  .p-fileupload-content > p-progressbar {
    display: none;
  }

  .progress-text {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: none;
  }
}

.text-ellipsis {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
