.file-dialog {
  .file-dialog-header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 95vw;
    max-height: 10vh;
    color: white;
  }

  .file-dialog-content {
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  img {
    height: auto;
    max-height: 85vh;
    width: 95vw;
    object-fit: contain;
  }

  video {
    max-height: 90vh;
    width: 95vw;
    background: black;
    object-fit: contain;
  }

  iframe {
    height: 90vh;
    width: 95vw;
  }

  a {
    text-decoration: none;
    i {
      font-size: 3rem;
    }
  }
}

.info-close-button {
  position: absolute;
  top: 1rem;
  right: 1rem;
}

:host ::ng-deep {
  .file-dialog {
    .p-dialog {
      max-height: 100vh !important;
      box-shadow: none;
    }
    .p-button.p-button-text {
      color: white;
    }
  }
  .p-sidebar {
    padding: 0;
    max-height: 100vh;
    overflow-y: auto;
  }
}
