<div class="card">
   <p-toast />
   <p-fileUpload [multiple]="true" maxFileSize="10_737_418_240" (onSelect)="onSelectedFiles($event)"
      [customUpload]="true" (uploadHandler)="uploadHandler($event)" class="max-h-screen overflow-hidden">
      <ng-template pTemplate="header" let-chooseCallback="chooseCallback" let-clearCallback="clearCallback"
         let-uploadCallback="uploadCallback">
         <div class="flex flex-wrap justify-content-between align-items-center flex-1 gap-2">
            <div class="flex gap-2">
               <p-button (onClick)="chooseEvent($event, chooseCallback)" icon="pi pi-images" [rounded]="true"
                  [outlined]="true" />
               <p-button (onClick)="uploadEvent(uploadCallback)" icon="pi pi-cloud-upload" [rounded]="true"
                  [outlined]="true" severity="success" [disabled]="!files || files.length === 0" />
               <p-button (onClick)="clearEvent(clearCallback)" icon="pi pi-times" [rounded]="true" [outlined]="true"
                  severity="danger" [disabled]="!files || files.length === 0" />
            </div>
            <tag-autocomplete [group]="group" [(tags)]="globalTags" />
            <div class="flex flex-column justify-content-center align-items-end gap-2">
               <p-progressBar [value]="totalSizePercent" [showValue]="false"
                  styleClass="w-15rem sm:w-20rem h-1rem w-full ml-auto"
                  [ngClass]="{ 'exceeded-progress-bar': totalSizePercent > 100 }">
               </p-progressBar>
               <span class="white-space-nowrap">{{ totalSize | fileSize }} / 10GB</span>
            </div>
         </div>
      </ng-template>
      <ng-template pTemplate="content" let-removeFileCallback="removeFileCallback"
         let-removeUploadedFileCallback="removeUploadedFileCallback">
         <div *ngIf="files.length > 0" class="flex flex-wrap justify-content-center gap-5">
            <div *ngFor="let file of files; let i = index"
               class="file-card card flex m-0 flex-column md:flex-row border-1 surface-border justify-content-between w-12 p-3 gap-3">
               <div class="flex-1 flex flex-column justify-content-center min-w-0 w-12 md:w-3">
                  <p class="m-0 font-semibold text-ellipsis">{{ file.browserFile.name }}</p>
                  <p-badge *ngIf="file.status === 'failed'" [value]="file.status" severity="danger" />
                  <p-badge *ngIf="file.status === 'cancelled'" [value]="file.status" severity="warning" />
               </div>
               <div class="flex flex-row justify-content-evenly align-items-center w-12 md:w-8">
                  <div class="w-4">
                     <tag-autocomplete [group]="group" [(tags)]="file.createFileDto.tags" />
                  </div>
                  <div class="w-4 text-center white-space-nowrap">{{ file.browserFile.size | fileSize }}</div>
                  <div class="w-4 flex justify-content-center">
                     <div *ngIf="file.status === 'uploading'">
                        <div class="relative w-3rem">
                           <round-progress [current]="file.progress" [max]="100" [stroke]="8" [radius]="24"
                              color="var(--primary-color)" />
                           <p-button class="progress-text" icon="pi pi-times"
                              (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [text]="true"
                              severity="secondary" />
                        </div>
                     </div>
                     <div *ngIf="!file.status || file.status === 'failed' || file.status === 'cancelled'"
                        class="flex-1 flex justify-content-evenly">
                        <p-button *ngIf="file.status" (onClick)="onRetry(file)" [outlined]="true" [rounded]="true"
                           icon="pi pi-refresh" severity="warning" />
                        <p-button (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [outlined]="true"
                           [rounded]="true" icon="pi pi-times" severity="danger" />
                     </div>
                     <p-button *ngIf="file.status === 'success'"
                        (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true"
                        icon="pi pi-check" severity="success" />
                  </div>

               </div>
            </div>
         </div>
         <h3 *ngIf="uploadedFiles.length > 0">Uploaded files</h3>
         <p-button *ngIf="uploadedFiles.length > 0" label="Clear" icon="pi pi-times" [rounded]="true" [outlined]="true"
            (onClick)="uploadedFiles = []" />
         <div *ngIf="uploadedFiles.length > 0" class="flex flex-wrap justify-content-center gap-5">
            <div *ngFor="let file of uploadedFiles; let i = index"
               class="file-card card flex flex-column sm:flex-row border-1 surface-border justify-content-between w-12 m-0 p-3 gap-3">
               <div class="flex-1 flex flex-column w-12 sm:w-6 justify-content-center min-w-0">
                  <p class="m-0 font-semibold text-ellipsis">{{
                     file.browserFile.name }}</p>
                  <p-badge *ngIf="file.status === 'failed'" [value]="file.status" severity="danger" />
                  <p-badge *ngIf="file.status === 'cancelled'" [value]="file.status" severity="warning" />
               </div>
               <div class="flex flex-row justify-content-evenly align-items-center w-12 sm:w-6">
                  <div class="w-6 text-center white-space-nowrap">{{ file.browserFile.size | fileSize }}</div>
                  <div class="w-6 flex justify-content-center">
                     <div *ngIf="file.status === 'uploading'">
                        <div class="relative w-3rem">
                           <round-progress [current]="file.progress" [max]="100" [stroke]="8" [radius]="24"
                              color="var(--primary-color)" />
                           <p-button class="progress-text" icon="pi pi-times"
                              (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [text]="true"
                              severity="secondary" />
                        </div>
                     </div>
                     <div *ngIf="!file.status || file.status === 'failed' || file.status === 'cancelled'"
                        class="flex-1 flex justify-content-evenly">
                        <p-button *ngIf="file.status" (onClick)="onRetry(file)" [outlined]="true" [rounded]="true"
                           icon="pi pi-refresh" severity="warning" />
                        <p-button (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [outlined]="true"
                           [rounded]="true" icon="pi pi-times" severity="danger" />
                     </div>
                     <p-button *ngIf="file.status === 'success'"
                        (onClick)="onRemoveFile($event, file, removeFileCallback, i)" [outlined]="true" [rounded]="true"
                        icon="pi pi-check" severity="success" />
                  </div>

               </div>
            </div>
         </div>
      </ng-template>
      <ng-template pTemplate="file"></ng-template>
      <ng-template pTemplate="empty">
         <div *ngIf="uploadedFiles.length === 0" class="flex align-items-center justify-content-center flex-column">
            <i class="pi pi-cloud-upload border-2 border-circle p-5 text-8xl text-400 border-400"></i>
            <p class="mt-4 mb-0">Drag and drop files here to upload.</p>
         </div>
      </ng-template>
   </p-fileUpload>
</div>