.dashboard {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hide;
  position: relative;

  .text-ellipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }

  .dashboard-content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
  }

  .dashboard-button {
    max-height: 100vh;
    position: absolute;
    bottom: 3rem;
    right: 4rem;
  }

  .upload-button {
    position: absolute;
    bottom: 1rem;
    left: 50%;
    transform: translate(-50%, -50%);
  }
}

:host ::ng-deep .dashboard {
  .p-dataview .p-dataview-content {
    max-height: calc(100vh - 10rem);
    overflow-y: auto;
  }

  .p-sidebar {
    padding: 0;
    max-height: 100vh;
  }
}
