.dashboard {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hide;
  position: relative;

  .dashboard-content {
    overflow-y: auto;
    height: 100vh;
  }

  .dashboard-button {
    max-height: 100vh;
    position: absolute;
    bottom: 1rem;
    right: 1rem;
  }

  .file-dialog {
    .file-dialog-header {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 95vw;
      max-height: 10vh;
      color: white;

      h3 {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
      }
    }

    .file-dialog-content {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }

    img {
      height: auto;
      max-height: 85vh;
      width: 95vw;
      object-fit: contain;
    }

    video {
      max-height: 90vh;
      width: 95vw;
      background: black;
      object-fit: contain;
    }

    a {
      text-decoration: none;
      i {
        font-size: 3rem;
      }
    }
  }
}

:host ::ng-deep {
  .p-sidebar {
    padding: 0;
    max-height: 100vh;
  }

  .p-dialog {
    max-height: 100vh !important;
    box-shadow: none;
  }

  .p-button.p-button-text {
    color: white;
  }
}
