.dashboard {
  min-height: 100vh;
  max-height: 100vh;
  overflow-y: hide;
  position: relative;

  .dashboard-content {
    display: flex;
    flex-direction: column;
    overflow-y: hidden;
    height: 100vh;
  }

  .group-select {
    height: calc(100vh - 86px);
  }
}

:host ::ng-deep .dashboard {
  input{
    min-width: 200px;
  }

  .p-sidebar {
    padding: 0;
    max-height: 100vh;
  }

  .menu-sidebar .p-sidebar-header {
    padding: 0.5rem;
    padding-top: 1rem;
    max-width: 100vw;
  }

  .menu-sidebar .p-sidebar-content {
    padding: 0;
  }
}
