<div class="dashboard">
   <div class="dashboard-content">
      <group-view (menuOpenChange)="menuBarVisible = true" />
   </div>
   <p-sidebar [(visible)]="menuBarVisible" styleClass="w-screen max-w-30rem">
      <ng-template pTemplate="header">
         <h3 class="m-0">Username</h3>
      </ng-template>
      <div class="flex flex-column gap-4">
         <group-select />
         <p-button styleClass="w-full" label="Settings" icon="pi pi-cog" class="bg-white" [rounded]="true"
            (onClick)="settingsVisible = true" />
         <p-button styleClass="w-full" label="Logout" icon="pi pi-sign-out" class="bg-white" [rounded]="true"
            (onClick)="onLogout()" />
      </div>
   </p-sidebar>
   <p-sidebar [(visible)]="settingsVisible" styleClass="w-screen max-w-30rem">
      <ng-template pTemplate="header">
         <h3 class="m-0">Settings</h3>
      </ng-template>
      <div class="flex flex-column gap-4">
         <settings />
      </div>
   </p-sidebar>
</div>